.navbar-nav a:hover {
  color: green;
}

.contenedor {
  max-width: 70%;
  margin: auto;
}

.precio {
  padding: 3%;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.linea {
  border: 1px solid black;
}

.linea2 {
  border: 1px solid black;
  max-width: 80%;
  margin: auto;
}

.tamanoImg {
  max-width: 80%;
  margin: auto;
}

.cuadro {
  border-right-style: solid;
  padding-right: 5%;
}

#Crea img {
  width: 100%;
  height: 200px;
  margin-left: 15%;
  filter: blur(6px);
  margin: auto;
}

#Crea h1 {
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

.centrado {
  position: absolute;
  top: 35%;
  left: 55%;
  transform: translate(-50%, -50%);

}

.center {
  position: relative;
  text-align: center;
  margin-bottom: 3%;
}

.center img {
  width: 100%;
  height: 20rem;
}

.imagen_propiedad {
  max-width: 80%;
  margin: auto;
  padding-top: 3%;
}

.contenedor {
  display: inline-block;
  margin: 0 15%;
}

#galeria div img {
  margin: auto;
  width: 15rem;
  height: 12rem;
}

/*Casas Modal PDF*/
#planos__modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Casa 155mts */
.precio__desde {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.MiniNombre {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: right;
}

.MiniNombre {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: right;
}

.MiniNombre {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: right;
}

.MiniNombre {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: right;
}

.MiniNombre {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: right;
}

.MiniNombre {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: right;
}

.MiniNombre {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: right;
}

.MiniNombre {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: right;
}

.MiniNombre {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: right;
}

.MiniNombre {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: right;
}

.MiniNombre {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: right;
}

.precio__desde>p {
  margin-bottom: 0;
  margin-left: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  font-weight: 100;

}

/*precio__ubicación*/
/* .precio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.precio i {
  display: inline-flex;
}

#Crea h1 {
  text-shadow: 5px 5px 5px #000000;
}


@media screen and (max-width: 800px) {
  #Crea h1 {
    font-weight: 700;
    font-size: 1.5em;
  }

  #Crea a {
    max-width: 70%;
    font-size: 1em;
    text-align: center;
  }

  /*  .precio h1 {
    font-size: large;
  } */
}


/* eFECTOS  */

.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 800px) {
  iframe {
    max-width: 250px;
    max-height: 190px;
  }

}